
UID=1000
GID=1000

POSTGRES_DB=rag
POSTGRES_USER=rag
POSTGRES_PASSWORD=change-me

OLLAMA_URL=http://ollama:11434
OLLAMA_MODEL=gemma3:270m
OLLAMA_EMBEDDING_MODEL=embeddinggemma

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=change-me
MINIO_BUCKET=documents